$primaryColor: #ffdd35;
$secondary-color: #33d1ca;
$main-transition: 0.3s;

/*
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
*/
